<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1
        {
            background-color: aqua;
            border-radius: 25px;
            box-shadow: 15px;
            margin-top: 10px;           
        }
    </style>
</head>
<body>
    <center>
        <h1><marquee behavior="" direction="">........RCB virat.........</marquee></h1>
        <img src="https://static.toiimg.com/thumb/msid-115657821,width-1280,height-720,resizemode-4/115657821.jpg" alt="">
    </center>
</body>
</html>